<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{ data}}
    <!-- to add python logic -->
    {%for i in data%} {#need to end the logic like endfor endif like #} {%endfor%}
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
    consequatur, incidunt aliquid enim velit eos similique placeat sequi ducimus
    repudiandae iure ea officia ipsum quidem maiores natus deleniti autem odit?
  </body>
</html>
